.jumbotron {
    background: rgb(67, 67, 68);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 75, 121, 1) 14%, rgba(34, 185, 171, 0.989233193277311) 57%, rgba(39, 208, 181, 1) 66%);
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Lobster', cursive;
}

.nav-item {
    color: #22b9ab;
}

.nav-link {
    color: #22b9ab;
    font-family: 'Lobster', cursive;
    font-family: 'Nanum Gothic', sans-serif;
    margin-left: 100px;
}